body {
    padding-top: 150px;

}

.column, .navbar {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100rem;
}


h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;

}

p {
    font-size: 1.4rem;
    line-height: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}


#blanker {
    width: 100%;
    height: 100%;
    background: white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

}