html {
  font-size: 75%; /* font-size 1em = 10px on default browser settings */
}

body {
    padding-top: 150px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100rem;
    padding-bottom: 10%;
}


h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    padding-top: 30px;
}

p {
    font-size: 1.4rem;
    line-height: 2rem;
}

.demo_font_arial{
    font-family: arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}